@import '../bower_components/normalize-scss/normalize';

html, body {
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.canvas {
  background-image: linear-gradient(#FD9458, #FC403A);
}

.axis {
  path,
  line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
  }
  text {
    fill: #FFF;
  }

  &.x text {
    font-size: 12px;
    font-family: Consolas, Monaco;
  }
}

.mouseover-bar {
  fill: transparent;
}

.data-point:hover .mouseover-bar {
  fill: rgba(255,255,255,.3);
}

.connection-line {
  &.dotted {
    stroke: #FFF;
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
  }
}

.data-bar {
  fill: #FFF;
  stroke: none;
  fill-rule: evenodd;
}

.cursor-line {
  &.show {
    stroke: #FFF;
    stroke-width: 1px;
  }
}

.tooltip {
  path {
    fill: rgba(0, 0, 0, .9);
  }
  text {
    font-size: 10px;
    fill: #FFF;
  }

  &.hide {
    display: none;
  }
}
