@import '../bower_components/normalize-scss/normalize';

html, body {
  height: 100%;
}

body {
  background: #BDBEC2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

// ----------------------------------------

.raptor-svg {
  background-color: #FFF;
}

.raptor-axis {
  path,
  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  text {
    fill: #000;
  }

  &.raptor-x, &.raptor-y {
    text {
      font-size: 12px;
      font-family: Consolas, Monaco;
    }
  }

  &.raptor-x text {
    text-anchor: end;
    transform: translate(-13px, 10px) rotate(-90deg);
  }
}

.raptor-data-point-bar {
  stroke: none;
  fill-rule: evenodd;
  &.raptor-temperature-data-point-bar {
    fill: #007AFF;
  }
  &.raptor-pulse-data-point-bar {
    fill: #FF3B30;
  }
}

.raptor-data-line {
  stroke-width: 2px;
  &.dotted {
    stroke-dasharray: 5, 5;
  }
  &.raptor-temperature-data-line {
    stroke: #007AFF;
  }
  &.raptor-pulse-data-line {
    stroke: #FF3B30;
  }
}

.cursor-line {
  &.show {
    stroke: #000;
    stroke-width: 1px;
  }
}

.tooltip {
  path {
    fill: rgba(0, 0, 0, .9);
  }
  text {
    font-size: 10px;
    fill: #FFF;
  }

  &.hide {
    display: none;
  }
}
